# User-specific files
*.suo
*.user
*.sln.docstates
.vs/*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

_bin*
/nuget/*/lib/net45/*.dll
/nuget/nupkgs/
/nuget/*/content/
node_modules
bower_components
artifacts/*
project.lock.json
bin*
obj*
.vs*

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.sln


# Visual Studio profiler
*.psess
*.vsp
*.vspx